[Unit]
Description=Cerveau de Natacha - Pont Intelligence (MQTT/ChromaDB/Kiwix)
# On attend que le réseau, le broker MQTT ET le serveur llama.cpp soient prêts
After=network-online.target mosquitto.service llama-brain.service
Requires=mosquitto.service llama-brain.service

[Service]
Type=simple
User=vieil
Group=vieil

WorkingDirectory=/home/vieil/Natacha-Project/modules/brain

ExecStart=/home/vieil/miniconda3/envs/cerveau_natacha/bin/python3 brain_v33_12.py

# Pour voir les logs en temps réel avec journalctl -u cerveau_natacha -f
Environment=PYTHONUNBUFFERED=1

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
