[Unit]
Description=Veille Automatique de Natacha (RSS)
After=network.target mosquitto.service

[Service]
Type=simple
User=vieil
# Correction : On pointe vers le dossier où se trouve ton code
WorkingDirectory=/home/vieil/Natacha-Project/modules/brain

# Correction : On utilise l'env Conda et le bon chemin vers le script
ExecStart=/home/vieil/miniconda3/envs/cerveau_natacha/bin/python3 /home/vieil/Natacha-Project/modules/brain/veille_natacha.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
