[Unit]
Description=GStreamer Receiver pour Natacha (Bouche)
After=network.target

[Service]
Type=simple
User=vieil
Group=vieil
WorkingDirectory=/home/vieil/Natacha-Project/modules/ear

Environment=XDG_RUNTIME_DIR=/run/user/1000

# On utilise le même environnement Conda pour garantir la présence des librairies
ExecStart=/home/vieil/miniconda3/envs/oreille_natacha/bin/python3 /home/vieil/Natacha-Project/modules/ear/bouche_receveur_final_v1_0.py

Restart=always
RestartSec=5

[Install]
WantedBy=default.target
