[Unit]
Description=Oreille de Natacha (Whisper)
After=network.target pulseaudio.service

[Service]
User=vieil
Group=vieil
WorkingDirectory=/home/vieil/Natacha-Project/modules/ear

Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment=PYTHONUNBUFFERED=1

# Correction : Chemin complet + bon script (oreille_v1_30.py)
ExecStart=/home/vieil/miniconda3/envs/natacha_oreille/bin/python3 /home/vieil/Natacha-Project/modules/ear/oreille_v1_30.py

Restart=always
RestartSec=5

[Install]
WantedBy=default.target
