After=network.target pulseaudio.service

[Service]
# On utilise l'utilisateur pour l'accès aux droits audio
User=vieil
Group=vieil

# Dossier où se trouve ton script et ton .env
WorkingDirectory=/home/vieil/Natacha-Project/modules/ear

# Environnement nécessaire pour Ubuntu 24.04 et PulseAudio
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment=PYTHONUNBUFFERED=1

# Exécution directe sans screen
ExecStart=/home/vieil/miniconda3/envs/natacha_oreille/bin/python3 bouche_receveur_final_v1_0.py

# Redémarrage automatique en cas de souci
Restart=always
RestartSec=5

[Install]
WantedBy=default.target

