[Unit]
Description=Oreille de Natacha (Whisper)
After=network.target pulseaudio.service

[Service]
User=vieil
Group=vieil
WorkingDirectory=/home/vieil/Natacha-Project/modules/ear

Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment=PYTHONUNBUFFERED=1

# Correction du nom de l'env et du nom du script
ExecStart=/home/vieil/miniconda3/envs/oreille_natacha/bin/python3 /home/vieil/Natacha-Project/modules/ear/oreille_v1_30.py
ExecStartPre=/bin/sleep 10
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
