[Unit]
Description=Bouche de Natacha (TTS Service sous Screen)
After=network.target mosquitto.service

[Service]
Type=forking
User=vieil
Group=vieil
WorkingDirectory=/home/vieil/bouche_natacha/scripts

# On définit le PATH pour être sûr que systemd trouve tout
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Commande complète en une seule ligne :
ExecStart=/usr/bin/screen -L -Logfile /home/vieil/bouche_natacha/logs/bouche.log -d -m -S bouche_natacha /home/tvieil/miniconda3/envs/tts_env/bin/python3 /home/vieil/bouche_natacha/scripts/bouche_natacha10.py

ExecStop=/usr/bin/screen -S bouche_natacha -X quit
Restart=always

[Install]
WantedBy=multi-user.target
