# --- Noyau Intelligence & Réseau ---
requests
paho-mqtt>=2.0.0

# --- Base de données & Mémoire (RAG) ---
chromadb

# --- Analyse Web (Kiwix) ---
beautifulsoup4

# --- Gestion de la Configuration ---
python-dotenv
